.auth_btn {
  width: 157.52px;
  height: 39.3px;
  left: 128px;
  top: 529px;
  margin-top: 5%;
  margin-left: 40%;
  margin-bottom: 2%;
  background: #4B9960;
  border-radius: 2px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
}
