.login {
  max-width: 414px;
  background-color: $color-lightgrey;
  padding: 24px;
  text-align: center;

  form {
    padding: 0 50px;
  }

  .close-button {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 50px;
    }
  }

  .title {
    // text-align: center;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 20px;
  }

  button,
  .text-field {
    margin: 10px 0;
  }

  button[type="submit"] {
    text-align: center;
  }

  fieldset {
    border: none;
    border-top: 1px solid $color-darkgreen;
    padding: 0;

    legend {
      padding: 0 20px;
      font-size: 18px;
      color: $color-darkgreen;
    }
  }
  p {
    font-size: 14px;
    color: $color-darkgreen;
  }
  .forgot-password {
    text-align: left;
  }
  .other-auth .action {
    font-weight: bold;
    cursor: pointer;
  }
}
