.recipe-creation-form {
  background-color: rgb(255, 255, 255);
  max-width: 95%;
  height: 100%;
  margin: auto;
}

.container {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  margin: 0 auto;
  max-width: 90%;
}

.recipe-creation-body {
  padding-top: 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0 0px 0;
}

.input-block {
  position: relative;
  flex-basis: 28%;
}

.text-field--large {
  font-size: 1.6rem;
  outline: none;
  width: 100%;
}

.text-field::-webkit-input-placeholder {
  color: #d3d3d3;
  font-weight: 600;
  font-style: italic;
}

.no-right-border {
  border-right: none;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 20px 0 0;
}

.middle {
  flex: 3;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
}

.ingredient-content {
  width: 100%;
}

.ingredient-image-container {
  display: flex;
}

.video-section {
  justify-self: flex-start;
  margin: 200px 0 0 0;
}
.video-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.step-video {
  width: 320px;
  height: 240px;
}

.full-video {
  width: 400px;
  height: 240px;
}

.btn-primary,
.btn-secondary {
  background: #363636;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  margin: 100px 0 50px 0;
  padding: 13px 15px;
  display: inline-block;
  font-weight: 800;
}

.btn-secondary {
  background: #fff;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin: 0 20px;
  font-weight: 400;
  padding: 8px 13px;
}

.loading-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #42424238;
  overflow-x: hidden;
  transition: all 1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.spinner {
  width: 1.8rem;
  height: 1.8rem;
  border-top-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);

  animation: spinner 800ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  .input-block {
    position: relative;
    flex-basis: 100%;
    margin: 24px 0;
  }

  .ingredient-image-container {
    display: block;
  }

  .video-content {
    justify-content: center;
  }

  .full-video {
    width: 100%;
    height: 240px;
  }
}
