.socialContainer {  
border-radius: 2px;
width: 75%;
margin-left: 12%;
height: 40px;
margin-bottom: 20px;
}

.social_description {
font-family: Roboto;
font-style: normal;
font-weight: 500px;
font-size: 18px;
line-height: normal;
text-align: center;
color: #FFFFFF;
margin-top: -8%;
}

.social_image {
    width: 60px;
    height: 40px;
}
