.social {
  margin: 0.3125rem 0;
  .social-button {
    width: 100%;

    &:hover {
      background-color: $color-social-hover;
      color: $color-white;
    }
    .link {
      color: $color-white;
      width: 100%;
    }
  }

  .button--facebook {
    background-color: $color-facebook;
    color: $color-white;
  }

  .button--google {
    background-color: $color-google;
    color: $color-white;
  }

  .button--twitter {
    background-color: $color-twitter;
    color: $color-white;
  }
}
