h1 {
  color: $text-color;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background: linear-gradient(to bottom, $bg-grey, $bg-grey);
  display: grid;
  font-family: $font-family;
  transition: all 0.9s;
  user-select: none;
}

@media (min-resolution: 2dppx) {
  h1 {
    font-size: $large-text;
  }
}
