h1 {
  color: $text-color;
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: $font-family;
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, $bg-grey, $bg-grey);
}

@media (min-resolution: 2dppx) {
  h1 {
      font-size: $large-text;
  }
}