$color-social-hover: #2e3a5f;
$color-box-shadow: rgba(0, 0, 0, 0.25);
$color-facebook: #475993;
$color-google: #3e82f7;
$color-twitter: #03a9f4;
$color-overlay: rgba(0, 0, 0, 0.5);
$color-grey: #3f3f3f;
$color-darkgreen: #122620;
$color-green: #4b9960;
$color-yellow: #ffcc53;
$color-red: #ff6060;
$color-black: #000;
$color-lightgrey: #f4f4f4;
$color-white: #fff;
$font-primary: Nunito, sans-serif;
$font-secondary: Chewy, cursive;
