$color-google: #3e82f7;
$color-facebook: #475993;
$color-twitter: #03a9f4;
$color-darkgreen: #122620;
$color-green: #4b9960;
$color-black: #000000;
$color-lightgrey: #f4f4f4;
$color-white: #ffffff;
$font-primary: Nunito, sans-serif;
$font-secondary: Chewy, cursive;
