.create-recipe {
  .recipe-image {
    align-self: center;
    margin: auto;
    height: 110px;
    width: 140px;
    background: transparent;
    border-radius: 3px;
  }

  .step-container {
    width: 100%;
  }

  .text-field--small {
    font-size: 14px;
    height: 100%;
    outline: none;
    padding: 0 0 5px 0;
    width: 100%;
  }

  .recipe-images {
    align-self: center;
    width: 250px;
    height: 160px;
    background: transparent;
    position: relative;
  }

  .img-holder {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);
    color: #f1f1f1;
    transition: 0.5s ease;
    width: 140px;
    height: 110px;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
  }
  .img-holder:hover .overlay {
    background: rgba(0, 0, 0, 0.6);
  }

  .images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100;
    border-radius: 5px;
    position: absolute;
    background: #fff;
    right: 170px;
    top: 0;
    transition: all 300ms ease-in-out;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  }

  .more-images {
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    width: 140px;
  }

  .remove-step {
    position: absolute;
  }

  .add-step-ingredient-line {
    border-bottom: 2px dashed #d3d3d3;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  .add-ingredient {
    margin: 20px auto;
  }

  .flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media only screen and (max-width: 1000px) {
    .column {
      display: flex;
      flex-basis: 100%;
      justify-content: center;
      margin: 30px 20px 0 0;
    }

    .recipe-title,
    .recipe-prep-time,
    .recipe-cook-time {
      flex-basis: 100%;
      height: 58px;
      margin-left: 0;
    }

    .images-container {
      top: 50%;
      left: 50%;
      grid-template-columns: 1fr;
      transform: translate(-46%, 17%);
      align-items: center;
      row-gap: 1rem;
      width: 250px;
      border: 3px solid #dfdfdf;
      border-radius: 0;
      z-index: 99;
      box-shadow: none;
    }

    .more-images {
      background: rgba(0, 0, 0, 0.4);
      position: relative;
      width: 140px;
    }

    .remove-step {
      position: absolute;
    }

    .add-step-ingredient-line {
      border-bottom: 2px dashed #d3d3d3;
      display: inline-block;
      font-size: 1rem;
      outline: none;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }

    .add-ingredient {
      margin: 20px auto;
    }

    .flex {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @media only screen and (max-width: 1000px) {
      .column {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin: 30px 20px 0 0;
      }

      .recipe-title,
      .recipe-prep-time,
      .recipe-cook-time {
        flex-basis: 100%;
        height: 58px;
        margin-left: 0;
      }

      .images-container {
        top: 50%;
        left: 50%;
        grid-template-columns: 1fr;
        transform: translate(-46%, 17%);
        align-items: center;
        row-gap: 1rem;
        width: 250px;
        border: 3px solid #dfdfdf;
        border-radius: 0;
        z-index: 99;
        box-shadow: none;
      }

      .image-selector {
        margin: -13px 0 30px 0;
      }

      .input-block {
        position: relative;
        flex-basis: 100%;
        margin: 24px 0;
      }

      .recipe-images {
        align-self: center;
        width: 100%;
        height: 160px;
        background: transparent;
        position: relative;
      }
    }
  }
}
