.modal {
  @media only screen and (max-width: 48rem) {
    max-width: 25rem;
  }
}

.my-toast {
  font-family: "Nunito";
  font-size: "13px";
  text-align-last: "center";
  vertical-align: middle;
}

.progress-toast {
  height: "3px";
}
