.auth_form {

  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #F4F4F4;
  border-radius: 5px;
}

.logoname {
  width: 198.92px;
  height: 68.25px;
  left: 110px;
  top: 103px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  margin: 0 auto;
  padding-top: 15%;
  color: #000000;
}



input {
  &.textfield {
    width: 68%;
    margin-left: 12%;
    left: 74px;
    top: 347.08px;
    margin-top: 2%;
    left: 6%;
    right: 69.99%;
    top: 31.14%;
    bottom: 30.63%;
    display: block;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #000000;
    padding: 10px 20px;
    border: 0;

  }


}


.signup_text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  text-align: center;

  color: #122620;

}

.signup_link {
  text-decoration: none;
  margin-left: 10px;

  &:hover {
    color: blue
  }
}

.horizontal_box {
  width: auto;
  height: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.horizontal_box ul {
  list-style: none;
  text-align: center;
  margin-left: 1%;
}

.horizontal_box ul li {
  float: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-align: center;

  margin-left: 5%;

  color: #122620;
}

.horizontal_line {
  width: 185px;
}
