$text-color: rgb(34, 34, 34) !default;
$bg-grey: rgb(141, 141, 141);
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$large-text: 50px;
$color: #4682b4;
$white-color: #fff;
